@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --white: rgb(248, 248, 248);
    --light-gray: rgb(224, 224, 224);
    --gray: rgb(199, 199, 199);
    --black: #202020;
    --p-size: 1rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--white);
}
.content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1200px;
}
.tooltip {
    position: absolute;
    font-size: .8rem;
    background-color: #00b6ff;
    color: var(--white);
    border-radius: 6px;
    width: 74px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none;
    box-shadow: 6px 6px 6px var(--gray);
    font-weight: 600;
}
.tooltip.bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
.go-back {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 50%;
    z-index: 10;
}
.go-back a {
    color: var(--black);
    text-decoration: none;
    font-size: 2rem;
}
h2 {
    font-size: clamp(2rem, 2vw, 3rem);
    font-weight: 500;
    color: var(--black);
}
h2::after {
    content: "∘";
    padding-left: 12px;
    color: #00b6ff;
}
h2 span {
    color: #00b6ff;
    font-weight: 300;
}
header {
    position: relative;
    height: 64px;
    background: white;
    box-shadow: inset 0 -2px 4px var(--light-gray);
}
header ul {
    display: flex;
    gap: 20px;
    height: 100%;
    align-items: center;
    list-style: none;
    position: absolute;
    right: 20px;
}
header ul li a {
    color: var(--black);
    text-decoration: none;
    font-weight: 600;
    transition: all .2s ease;
}
header ul li a:hover {
    color: #00b6ff;
}
section {
    padding: 100px 0;
}
section span.symbol {
    position: absolute;
    font-size: 12rem;
    top: 50%;
    right: 0;
    transform: translateY(-50%) skewX(-10deg) scale(.8);
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    transition: all .4s ease;
}
section span.symbol:hover {
    transform: translateY(-50%) skewX(0deg) scale(1);
}
section.wrapper-main .wrapper {
    position: relative;
}
section.wrapper-main h1 {
    font-weight: 500;
    font-size: 3rem;
    white-space: nowrap;
}
section.wrapper-main #typing {
    border-right: .15em solid var(--black);
    padding-right: 20px;
    animation: blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--black); }
}
section.wrapper-main h2 {
    font-weight: 300;
}
section.wrapper-main h2::after {
    content: '';
}
section.wrapper-main h2 span.web-dev {
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
    color: white;
    border-radius: 6px;
    font-weight: 600;
    padding: 0 4px;
}
section.wrapper-main ul {
    list-style: none;
    display: flex;
    gap: 12px;
    height: 56px;
}
section.wrapper-main ul li {
    position: relative;
}
section.wrapper-main ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
}
section.wrapper-main ul li a:hover i {
    transform: translateY(-6px);
    transition: all .2s ease;
}
section.wrapper-main ul li a:hover > .tooltip {
    opacity: 1;
    bottom: -32%;
}
section.about-me p {
    font-size: var(--p-size);
    margin: 8px 0;
}
section.about-me .wrapper-about-me {
    display: flex;
    gap: 32px;
}
section.about-me .wrapper-about-me > div {
    flex: 1 1 0px;
}
section.about-me .wrapper-about-me .monitor {
    background: var(--black);
    color: white;
    border-radius: 12px;
    padding: 20px;
    transform: rotate(-1deg);
    position: relative;
    z-index: 2;
    height: 100%;
    transition: all .4s ease;
}
section.about-me .wrapper-about-me .border {
    width: 100%;
    height: 100%;
    border: black 6px solid;
    border-radius: 12px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transform: rotate(-1deg);
}
section.about-me:hover .wrapper-about-me .monitor {
    transform: translate(-20px, -20px) rotate(-1deg);
}
section.projects .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    row-gap: 64px;
    column-gap: 32px;
    margin: 20px 0;
}
section.projects .projects-grid .card {
    border-radius: 12px;
    background: #f8f8f8;
    height: 264px;
    box-shadow: 0 2px 6px #afafaf;
    position: relative;
    overflow: hidden;
}
section.projects .projects-grid .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
}
section.projects .projects-grid .card:hover .card-info {
    transform: translateY(0);
}
section.projects .projects-grid .card .card-info {
    position: absolute;
    transform: translateY(100%);
    padding: 6px;
    font-weight: 500;
    background: var(--white);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all .4s ease;
}
section.projects .projects-grid .card .card-info div {
    margin: 20px 0;
}
section.projects .projects-grid .card .card-info .card-content {
    max-height: 120px;
    overflow: auto;
}
section.projects .projects-grid .card .card-info .languages {
    color: gray;
    font-weight: 200;
    font-style: italic;
}
section.projects .projects-grid .card a.github-link {
    padding: 6px;
    font-weight: 600;
    color: #00b6ff;
    border: #00b6ff 1px solid;
    border-radius: 6px;
    text-decoration: none;
    font-size: .8rem;
    transition: all .2s ease;
    height: min-content;
}
section.projects .projects-grid .card a.github-link:hover {
    color: white;
    background-color: #00b6ff;
}
section.hard-skills .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}
section.hard-skills .skills .skill img {
    width: 100px;
    transform: scale(.92);
    transition: all .2s ease;
}
section.hard-skills .skills .skill img:hover {
    filter: drop-shadow(0 0 2px rgb(58, 58, 58)); 
    transform: scale(1);
}
section.experience .wrapper {
    display: flex;
    gap: 100px;
    align-items: center;
}
section.experience .wrapper .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(.9);
    transition: all .2s ease;
}
section.experience .wrapper .splide__slide img:hover {
    transform: scale(1);
}
footer {
    background-color: white;
    box-shadow: inset 0 2px 4px var(--light-gray);
}
footer .wrapper-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 24px;
}
footer ul {
    list-style: none;
    display: flex;
    gap: 12px;
    height: 56px;
}
footer ul li {
    position: relative;
}
footer ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
}
footer ul li a:hover i {
    transform: translateY(-6px);
    transition: all .2s ease;
}
footer ul li a:hover > .tooltip {
    opacity: 1;
    bottom: -32%;
}
@media screen and (max-width: 768px) {
    section.about-me .wrapper-about-me .monitor {
        pointer-events: none;
    }
    section.about-me .wrapper-about-me .monitor .border {
        display: none;
    }
    header ul li a span {
        display: none;
    }
    section {
        padding: 100px 20px;
    }
    section span.symbol {
        display: none;
    }
    section.wrapper-main h2 {
        font-size: clamp(1rem, 5vw, 2rem);
    }
    section.wrapper-main h1 {
        font-size: 1.5rem;
    }
    section.about-me .wrapper-about-me {
        flex-direction: column-reverse;
    }
    section.projects .projects-grid {
        display: flex;
        flex-direction: column;
    }
    section.hard-skills .skills {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    section.experience .wrapper {
        flex-direction: column;
        gap: 32px;
    }
}
