@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --white: rgb(248, 248, 248);
    --light-gray: rgb(224, 224, 224);
    --gray: rgb(199, 199, 199);
    --black: rgb(32, 32, 32);
    --p-size: 1.4rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: var(--white);
}
.content {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
.tooltip {
    position: absolute;
    font-size: .8rem;
    background-color: #00b6ff;
    color: var(--white);
    border-radius: 6px;
    width: 74px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    opacity: 0;
    transition: all .2s ease;
    pointer-events: none;
    box-shadow: 6px 6px 6px var(--gray);
    font-weight: 600;
}
.tooltip.bottom {
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 280px;
    background-color: var(--white);
    border-right: var(--light-gray) 1px solid;
    padding: 20px;
    transition: width .6s ease;
    z-index: 6;
}
nav .wrapper-nav #menu-hamburguer {
    position: absolute;
    z-index: 2;
    right: 26px;
    top: 6px;
    font-size: 1.4rem;
    cursor: pointer;
}
nav .wrapper-nav ul {
    list-style: none;
    margin-top: 64px;
}
nav .wrapper-nav ul li {
    margin: 32px 0;
}
nav .wrapper-nav ul li a {
    display: flex;
    gap: 12px;
    align-items: center;
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 500;
    background-color: var(--light-gray);
    padding: 4px 8px;
    border-radius: 6px;
    text-wrap: nowrap;
    transition: all .15s ease-in-out;
}
nav .wrapper-nav ul li a:hover {
    background-color: var(--gray);
}
nav.active .wrapper-nav ul li a:hover .tooltip {
    opacity: 1;
    transform: translateX(72%);
}
nav .wrapper-nav ul li a p {
    opacity: 1;
    transition: all .2s ease;
}
nav.active {
    width: 72px;
}
nav.active .wrapper-nav ul li p {
    pointer-events: none;
    opacity: 0;
    
}
nav.active ~ .all-sections {
    left: 72px;
    width: calc(100% - 72px);

}
.all-sections {
    position: absolute;
    width: calc(100% - 280px);
    left: 280px;
    transition: all .6s ease;
    margin-top: 20px;
    color: var(--black);
}
section {
    margin: 42px 0;
}
section.wrapper-main h1 {
    font-weight: 500;
    font-size: 3rem;
    white-space: nowrap;
}
section.wrapper-main #typing {
    border-right: .15em solid var(--black);
    padding-right: 20px;
    animation: blink-caret .75s step-end infinite;
}
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--black); }
}
section.wrapper-main h2 {
    font-weight: 300;
}
section.wrapper-main ul {
    list-style: none;
    display: flex;
    gap: 12px;
    height: 56px;
}
section.wrapper-main ul li {
    position: relative;
}
section.wrapper-main ul li a {
    text-decoration: none;
    color: var(--black);
    font-size: 2rem;
}
section.wrapper-main ul li a:hover i {
    transform: translateY(-6px);
    transition: all .2s ease;
}
section.wrapper-main ul li a:hover > .tooltip {
    opacity: 1;
    bottom: -32%;
}
section.about-me p {
    font-size: var(--p-size);
    margin: 8px 0;
}
section.projects .projects-grid {
    gap: 20px;
    margin: 20px 0;
    columns: 3;
}
section.projects .projects-grid .card {
    padding: 8px;
    border-radius: 12px;
    background: #f8f8f8;
    box-shadow: 0 2px 6px #afafaf;
    break-inside: avoid;
    margin-bottom: 20px;
}
section.projects .projects-grid .card img {
    width: 100%;
    border-radius: 6px;
}
section.projects .projects-grid .card a.github-link {
    padding: 6px;
    font-weight: 600;
    color: #00b6ff;
    border: #00b6ff 1px solid;
    border-radius: 6px;
    text-decoration: none;
    font-size: .8rem;
    transition: all .2s ease;
}
section.projects .projects-grid .card a.github-link:hover {
    color: white;
    background-color: #00b6ff;
}
section.projects .projects-grid .card .card-footer {
    margin: 20px 0;
}
section.hard-skills .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    text-align: center;
}
section.hard-skills .skills .skill img {
    width: 100px;
    transform: scale(.92);
    transition: all .2s ease;
}
section.hard-skills .skills .skill img:hover {
    filter: drop-shadow(0 0 2px rgb(58, 58, 58)); 
    transform: scale(1);
}
section.experience .wrapper-experiences {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    row-gap: 60px;
    margin: 20px 0;
}
section.experience .wrapper-experiences .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(0.95);
    transition: all .2s ease;
}
section.experience .wrapper-experiences .img-container:hover img {
    transform: scale(1);
}
section.experience .wrapper-experiences > div {
    position: relative;
}
section.experience .wrapper-experiences > div .over {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.61);
    opacity: 0;
    transition: all .2s ease;
    z-index: 2;
}
section.experience .wrapper-experiences > div:hover .over {
    opacity: 1;
}
section.experience .wrapper-experiences > div .over i {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    color: white;
    position: absolute;
}
@media screen and (max-width: 600px) {
    nav {
        width: 100vw !important;
        top: inherit;
        bottom: 0;
        height: inherit;
        left: 0;
        z-index: 6;
        background-color: var(--white);
        transition: width .6s ease;
        overflow: hidden;
        box-shadow: 0 -2px 6px #cfcfcf;
        padding: 12px 20px;
    }
    nav .wrapper-nav #menu-hamburguer {
        display: none;
    }
    nav .wrapper-nav ul {
        display: flex;
        margin: inherit;
        justify-content: space-around;
    }
    nav .wrapper-nav ul li {
        margin: inherit;
        flex-basis: 20%;
    }
    nav .wrapper-nav ul li a {
        font-size: 1.4rem;
        flex-direction: column;
        background: none;
    }
    nav .wrapper-nav ul li a:hover {
        color: #00b6ff;
        background: none;
    }
    nav.active .wrapper-nav ul li p {
        width: fit-content;
        opacity: 1;
        font-size: .8rem;
        white-space: normal;
        text-align: center;
    }
    .all-sections {
        position: static;
        width: 100% !important;
    }
    section.wrapper-main h1 {
        font-size: 1.5rem;
    }
    section.projects .projects-grid {
        display: flex;
        flex-direction: column;
    }
    section.hard-skills .skills {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}
